<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">okok</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rent?useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="com/yodoo/rent/model/Role.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/User.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/HouseInfo.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/City.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/Province.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/Media.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/LocationCache.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/UserProfile.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/Area.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/OnlineUser.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/Talk.hbm.xml" />
        <mapping resource="com/yodoo/rent/model/VisitLog.hbm.xml" />
    </session-factory>
</hibernate-configuration>
