<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName" default-lazy-init="true">
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- the transactional semantics... -->
		<tx:attributes>
			<!-- all methods starting with 'get' are read-only -->
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />

			<!-- other methods use the default transaction settings (see below) -->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="serviceMethods"
			expression="execution(* com.yodoo.rent.*service..*(..))" />
		<aop:pointcut id="ajaxMethods"
			expression="execution(* com.yodoo.rent.webapp.ajax..*(..))" />
		<aop:pointcut id="actionMethods"
			expression="execution(* com.yodoo.rent.webapp.action..*(..))" />

		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="serviceMethods" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="ajaxMethods" />
		<!-- aop:advisor advice-ref="txAdvice" pointcut-ref="actionMethods" />  -->
	</aop:config>

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>
					com/yodoo/rent/model/LocationCache.hbm.xml
				</value>
				<value>com/yodoo/rent/model/User.hbm.xml</value>
				<value>com/yodoo/rent/model/UserProfile.hbm.xml</value>
				<value>com/yodoo/rent/model/HouseInfo.hbm.xml</value>
				<value>com/yodoo/rent/model/Role.hbm.xml</value>
				<value>com/yodoo/rent/model/Media.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">$[hibernate.dialect]</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
				<prop key="hibernate.hbm2ddl.auto">$[hibernate.hbm2ddl.auto]</prop>
			</props>
		</property>
	</bean>

	<!-- Transaction manager for a single Hibernate SessionFactory
		(alternative to JTA) -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- managers -->

	<bean id="locationCacheManager"
		class="com.yodoo.rent.service.impl.LocationCacheManager"
		autowire="byName">
	</bean>

	<bean id="userManager"
		class="com.yodoo.rent.service.impl.UserManager" autowire="byName">
	</bean>

	<bean id="userProfileManager"
		class="com.yodoo.rent.service.impl.UserProfileManager"
		autowire="byName">
	</bean>

	<bean id="houseInfoManager"
		class="com.yodoo.rent.service.impl.HouseInfoManager"
		autowire="byName">
	</bean>

	<bean id="roleManager"
		class="com.yodoo.rent.service.impl.RoleManager" autowire="byName">
	</bean>

	<bean id="mediaManager"
		class="com.yodoo.rent.service.impl.MediaManager" autowire="byName">
	</bean>

</beans>
